body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background:#f4f4f4;
  font-family:arial;
	font-size:15px;
	line-height: 1.6em;
}


/* NavBar */
.navbar{
  background-color: #EAEAEA;
  margin-bottom: 20px;
}

.nav-logo{
  max-width: 85px;
}

#navbarSupportedContent{
  padding-left:1em; 
}
/* Dashboard */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.calendar{
  padding-right: 4em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.panel.date {
  width: 60px;
  text-align: center;
}

.panel.date .month {
  padding: 2px 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.panel.date .day {
  padding: 3px 0px;
  font-weight: 700;
  font-size: 1.5em;
}

.panel {
  background-color: white;
  border-radius: 10px;
  height: 0%;
}

.panel-body{
  height: 100%;
}

.media-list {
  margin-bottom: 0;
  width: 100%;
}

.card{
  width: 100%;
  border-radius: 10px;
  border: 0;
}

.card-padding{
  padding-bottom: 0.125em;
}

.Approved{
  background-color: #D9FFC2;
}

.Pending{
  background-color: #FFEBC2;
}

.Rejected{
  background-color: #FFC3C3;
}

.Draft{
  background-color: #C2EAFF;
}
/* Userpage */
input.hidden {
  position: absolute;
  left: -9999px;
}

#profile-image1 {
  cursor: pointer;

   width: 100px;
  height: 100px;
border:2px solid #03b1ce ;}
.tital{ font-size:16px; font-weight:500;}
 .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}	

.column-20{
  float: left;
  width: 15%;
  padding: 10px;
  background-color: #03b1ce;
}
.column-80{
  float: left;
  width: 80%;
  padding: 10px;
  background-color: #ce1703;
}

.longer-btn{
  width: 170px;
  border-radius: 0;
}


.container{
  margin : 0;
  display: flex;
  justify-content: center;
  height: 100%;
}

@media (min-width: 1200px){
  .container {
    max-width: 100%; 
  }
}

@media (min-width: 992px){
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px){
  .container {
    max-width: 100%;
  }
}
@media (min-width: 576px){
  .container {
    max-width: 100%;
  }
}

.modal-confirm {		
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

li{
	list-style:none;
}

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}
.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}
.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #007ae1;
}
.account-settings .about p {
  font-size: 0.825rem;
}
.form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  background: #ffffff;
  color: #2e323c;
}

.card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}

a.editor-create {
  display: inline-block;
  margin-bottom: 0.5em;
}

.form-style{
  width: 500px;
}

.display-style{
  width:  500px;
}