{% extends "main.html" %}
{% block title %} Registered {% endblock %}
{% block content %}
<div class="text-center d-flex align-items-center">
        <div class="row" style="width: 100%;">
                <h1>
                    Please wait until administrator will approve your account!
                </h1>
                <h3>
                    You will receive an email when you can login.
                </h3>
            <div class="col-sm-4 mx-auto" >
                <lottie-player src="https://assets6.lottiefiles.com/datafiles/SsnntYI9d7Q2zbv/data.json" mode="normal" background="#f4f4f4" style="height: 200px;" speed="1" autoplay></lottie-player>
            </div>            
        </div>
</div>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" ></script>
{% endblock %}